.l-header {
	height: 100vh;
	position: relative;
	@include breakpoint( tablet ) {
	}
	@include breakpoint( pc ) {
	}
	@include breakpoint( wide ) {
	}
	.p-logo--header {
		z-index: 2;
	}
	.mv {
		height: 100%;
		object-fit: cover;
		position: relative;
		opacity: 0;
		z-index: 1;
		@include breakpoint( pc ) {
			width: 100%;
		}
	}
	&--bg {
		width: 100%;
		height: 100vh;
		background-color: #ededed;
		position: absolute;
		top: 0;
		z-index: -1;
		display: block;
	}
}
