.p-top--animation {
	padding: 70px 20px 0;
	@include breakpoint( tablet ) {
		padding: 50px 0 20px;
	}
	@include breakpoint( pc ) {
		// width: 930px;
		padding: 50px 0 0;
	}
	@include breakpoint( wide ) {
	}
	&__header {
		@include breakpoint( tablet ) {
			width: 80%;
			margin: auto;
		}
		@include breakpoint( pc ) {
		}
		h2 {
			margin-left: -10px;
			font-size: 6.0rem;
			font-family: 'Meie Script', cursive;
			font-weight: 400;
			// position: absolute;
			// left: 0;
			@include breakpoint( tablet ) {
				font-size: 10vw;
			}
			@include breakpoint( pc ) {
			}
			@include breakpoint( wide ) {
			}
		}
		.description {
			@include breakpoint( tablet ) {
				width: 45%;
			}
			@include breakpoint( pc ) {
				width: 100%;
			}
			.title {
				font-size: 3.0rem;
				font-weight: bold;
				@include breakpoint( tablet ) {
					font-size: 3vw;
				}
				@include breakpoint( pc ) {
					white-space: nowrap;
				}
				@include breakpoint( wide ) {
					font-size: 2.4vw;
				}
			}
			.text {
				font-size: 1.4rem;
			}
		}
	}
	&__items {
		margin-top: 20px;
		@include breakpoint( tablet ) {
			margin-top: 40px;
			display: flex;
			flex-wrap: wrap;
		}
		li {
			margin-bottom: 20px;
			@include breakpoint( tablet ) {
				width: 50%;
				height: 315px;
				margin-bottom: 0;
			}
			iframe {
				width: 100%;
				margin: 0;
				padding: 0;
			}
			&:nth-child( odd ) {
			}
			&:nth-child( even ) {
				@include breakpoint( tablet ) {
					margin-top: -100px;
				}
				@include breakpoint( pc ) {
				}
			}
		}
	}
}
