.c-img-description {
	dt {
		font-size: 1.4rem;
		@include breakpoint( tablet ) {
		}
		@include breakpoint( pc ) {
			font-size: 1.6rem;
		}
	}
	dd {
		font-size: 1.4rem;
		@include breakpoint( tablet ) {
		}
		@include breakpoint( pc ) {
			font-size: 1.4rem;
		}
	}
	&__link {
		margin-left: 10px;
		@include breakpoint( tablet ) {
			margin-left: 0;
		}
	}
	&__partner {
		width: 100%;
		margin-top: 10px;
		&::after {
			content: "";
			display: block;
			clear: both;
		}
		@include breakpoint( tablet ) {
			display: flex;
		}
		@include breakpoint( pc ) {
		}
		&__title {
			font-size: 1.4rem;
			@include breakpoint( tablet ) {
			}
			@include breakpoint( pc ) {
			}

		}
		&__link {
			font-size: 1.4rem;
			margin-right: 10px;
			float: left;
			&:nth-of-type( 1 ) {
				margin-left: 10px;
				@include breakpoint( tablet ) {
					margin-left: 0;
				}
			}
			@include breakpoint( tablet ) {
			}
			@include breakpoint( pc ) {
			}
		}
	}
}
