.p-header {
	&--achievement {
		height: auto;
		position: relative;
		@include breakpoint( tablet ) {
			min-height: 337px;
		}
		@include breakpoint( pc ) {
		}
		.c-inner {
			width: 100%;
			height: 100%;
			padding: 35px;
			background-image: url( images/common/bg_r.svg );
			background-size: contain;
			background-position: right bottom;
			background-repeat: no-repeat;
			top: 0;
			@include breakpoint( tablet ) {
			}
			@include breakpoint( pc ) {
				padding: 0 70px;
				margin-top: 50px;
			}
		}
		h1 {
			padding: 0;
			margin: 0;
			font-size: 3.2rem;
			@include breakpoint( tablet ) {
			}
			@include breakpoint( pc ) {
			}
		}
		&__url {
			margin-bottom: 27.5px;
			font-family: 'Vollkorn';
			font-size: 1.4rem;
			text-decoration: none;
			color: #252522;
			display: inline-block;
			@include breakpoint( tablet ) {
			}
			@include breakpoint( pc ) {
			}
		}
		&__tag {
			font-family: 'Vollkorn';
			font-size: 1.4rem;
			color: #252522;
		}
		&__date {
			font-family: 'Vollkorn';
			font-size: 1.4rem;
			color: #252522;
		}
		.bg-r {
			width: 350px;
			height: 270px;
			position: absolute;
			top: 0;
			right: 0;
		}
		.c-img-description__partner {
			font-size: 1.4rem;
			@include breakpoint( tablet ) {
			}
			@include breakpoint( pc ) {
			}
		}
	}
	&--print {
		@extend .p-header--achievement;
		@include breakpoint( tablet ) {
			min-height: 180px;
		}
		@include breakpoint( pc ) {
			min-height: 200px;
		}
	}
}
