.p-top--webdesign {
	&__items {
		&__list {
			@include breakpoint( tablet ) {
				width: 80%;
				margin: auto;
				display: flex;
				flex-wrap: wrap;
			}
			@include breakpoint( pc ) {
			}
			li {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 40px;
				@include breakpoint( tablet ) {
					width: calc( 50% - 30px );
					margin-bottom: 50px;
					&:nth-child( odd ) {
						margin-right: 30px;
					}
					&:nth-child( even ) {
						margin-left: 30px;
					}
				}
				@include breakpoint( pc ) {
					margin-bottom: 80px;
				}

				.imgrap {
					margin-bottom: 10px;
					@include hovanime;
					@include breakpoint( tablet ) {
						margin-bottom: 20px;
					}
					@include breakpoint( pc ) {
					}
					> a {
						display: block;
					}
				}
			}
			&__figure {
				margin: auto;
				@include breakpoint( tablet ) {
					// margin: 0;
				}
			}
			&--sticky {
				.p-top--webdesign__items__list__figure {
					width: 92%;
					margin: auto auto 25px;
					display: block;
					@include breakpoint( tablet ) {
						width: 80%;
						margin-bottom: 50px;
					}
					@include breakpoint( pc ) {
					}
				}
			}
			.c-img-description {
				@include breakpoint( tablet ) {
					margin-left: 25px;
				}
			}
		}
		dl {
			dt {
				a {
					width: 100%;
					font-size: 1.4rem;
					@include breakpoint( tablet ) {
					}
					@include breakpoint( pc ) {
						width: 670px;
					}
				}
			}
			dd {
				.url {

				}
			}
		}
	}
}
