.p-top--webdesign {
	&__thumbnail-wrap {
		width: 92%;
		margin: auto auto 50px;
		@include breakpoint( tablet ) {
			width: 80%;
			margin-bottom: 80px;
		}
		@include breakpoint( pc ) {
		}
	}
	&__thumbnail {
		margin-bottom: 25px;
		position: relative;
		top: -11px;
		left: -11px;
		@include breakpoint( tablet ) {
			margin-bottom: 50px;
			top: -22px;
			left: -22px;
		}
		@include breakpoint( pc ) {
			width: 100%;
		}
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			background-color: #000;
			display: block;
			position: absolute;
			top: 22px;
			left: 22px;
			z-index: -1;
			@include breakpoint( tablet ) {
				top: 44px;
				left: 44px;
			}
		}
		.imgrap {
			position: relative;
			@include hovanime;
			a {
				.mv {
					height: auto;
					display: block;
					z-index: 1;
				}
			}
		}
	}
}
