.p-top-masonry {
	&__list {
		@include breakpoint( tablet ) {
			display: flex;
		}
		&__item {
			margin-bottom: 40px;
			@include breakpoint( tablet ) {
				width: 200px;
				// width: 300px;
			}
		}
	}
	&__figure {
	}
}
