.p-logo {
	&--header {
		width: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY( -50% ) translateX( -50% );
		opacity: 1;
		@include breakpoint( tablet ) {
		}
		@include breakpoint( pc ) {
			width: 20%;
		}
		@include breakpoint( wide ) {
		}
		&__svg {
			&__path {
				fill: #000;
				stroke: #000;
				stroke-dasharray: 2000;
				stroke-dashoffset: 0;
				stroke-width: 1;
				-webkit-animation: logo 2s ease-in 0s;
				animation: logo 2s ease-in 0s;
			}
			// &__path2 {
			// 	fill: #000;
			// 	stroke: #000;
			// 	stroke-dasharray: 2000;
			// 	stroke-dashoffset: 0;
			// 	stroke-width: 1;
			// 	-webkit-animation: logo 4s ease-in 0s;
			// 	animation: logo 4s ease-in 0s;
			// }
		}
		@keyframes logo {
			0% {
				stroke-dashoffset: 2000;
				fill: transparent;
			}
			50% {
				fill: transparent;
			}
			100% {
				stroke-dashoffset: 0;
				fill: #000;
			}
		}
	}
}
