.p-stack {
	margin-bottom: 25px;
	position: relative;
	top: -11px;
	left: -11px;
	@include breakpoint( tablet ) {
		margin-bottom: 50px;
		top: -22px;
		left: -22px;
	}
	@include breakpoint( pc ) {
		width: 100%;
	}
	&__bg {
		position: relative;
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			background-color: #000;
			display: block;
			position: absolute;
			top: 22px;
			left: 22px;
			z-index: -1;
			@include breakpoint( tablet ) {
				top: 44px;
				left: 44px;
			}
		}
		.c-imgwrap {
			position: relative;
			@include hovanime;
			margin-bottom: 30px;
			@include breakpoint( tablet ) {
				margin-bottom: 65px;
			}
			a {
				.mv {
					height: auto;
					display: block;
					z-index: 1;
				}
			}
		}
	}
}
